.body {
    margin: 0px;
    height: 100%;
}

.header {
    background-color: darkred;
    padding: 24px;
}
.sketchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}
.sketchBox {
    border-color: red;
    border-style: ridge;
    border-width: 32px;
    border-radius: 32px;
    height: 400px;
    width: 400px;
    display: flex;
}
.sketchGrid {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    height: 400px;
    width: 400px;
}

.box {
    flex: 1;
}